/*

Helper Classes

*/

/*-----------
PLEASE RESTRICT THE USE OF THIS SECTION.
HELPER CLASSES  SHOULD ONLY BE USED IF AGREED WITH THE TEAM.
NOTE USED OF THIS SECTION WITHOUT AN AGREEMENT FROM THE TEAM
WILL FAIL PEER REVIEW
-----------*/

// Component: Helper Classes

.util-helper {
  &__margin-bt-spacing {
    margin: 30px 0;
  }

  &__clearfix {
    &::after {
      clear: both;
      content: '';
      display: block;
    }
  }

  &__center {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  &__margin-top-s {
    margin-top: 5px;
  }

  &__margin-top-m {
    margin-top: 10px;
  }

  &__margin-top-l {
    margin-top: 15px;
  }

  &__margin-top-xl {
    margin-top: 20px;
  }

  &__display-flex {
    display: flex;
  }

  &__top-bottom-0 {
    margin-bottom: 0;
    margin-top: 0;
  }


}
