/*

Body

*/
/* ---------- Variables */

$base-main-border-radius:       8px !default;
$base-bg-colour:                settings-colour('bg-colour-primary') !default;


/* ---------- Defaults */

a {
    color: inherit;
    text-decoration: none;
}

html {
    // sass-lint:disable no-vendor-prefixes
    -webkit-font-smoothing: antialiased;
    // sass-lint:enable no-vendor-prefixes
    background-color: $base-bg-colour;
    font-size: (14px / 16px) * 100%;
}

.main {
    background-color: $base-bg-colour;
    margin: 0 auto 65px;
    max-width: 936px;

    @include is-medium {
        margin: 0 auto 65px;
    }
}

body {
    background-color: $base-bg-colour;
    color: $base-bg-colour;
    // font-family: $body-font-family;

    // @include is-medium {
    //     background-color: $body-bg-colour;
    // }
}
