<div class="details details--movies" >

  <div class="row details__btn--top">
    <a *ngIf="!isSearch" class="btn" [routerLink]="['/movies']"><< Back to Movies</a>
    <a *ngIf="isSearch" class="btn" [routerLink]="['/search', ]"><< Back to Search Results</a>
  </div>
  <div class="row row--stack-on-small">
      <div class="column">
        <img *ngIf="item?.image" src="{{item?.image}}"   class="details__image" alt="">
      </div>
      <div class="column text-left details__info">
        <h1 class="text-left">{{item?.title}}</h1>
        <h4 *ngIf="item?.release_date" class="details__sub-heading"><span class="details--alt-colour">Release Date:</span> {{item?.release_date | date}}</h4>
        <h4 *ngIf="item?.overview" class="details__sub-heading details--alt-colour">Overview</h4>
        <p class="details__copy details__copy--top-0">{{item?.overview}}</p>
        <h4 *ngIf="item?.overview" class="details__sub-heading details--alt-colour">Genres</h4>
        <p class="details__copy details__copy--top-0">{{item?.genres}}</p>
        <div class="row util-helper__margin-top-m" *ngIf="item?.imdb_link">
          <a href="{{item?.imdb_link}}" target="_blank" class="btn details__btn--movies-info">View on IMDB</a>
        </div>
        <div *ngIf="item?.homepage">
          <a href="{{item?.homepage}}" target="_blank" class="btn details__btn--movies-info">View on Website</a>
        </div>
      </div>
  </div>

</div>
<div class="back-ground-image" #bgContainer>
</div>

