<p>movies-details works!</p>

<!-- <div class="container movies-details details">
    <app-loading *ngIf="loading"  [loadingTitle]='catTitle'></app-loading>
    <div class="row">
      <div *ngIf="!loading" class="col-md-12">
        <a *ngIf="searchStr === undefined" class="btn" [routerLink]="['/movies/pageNum=pageNum']"><< Back to Movies</a>
        <a *ngIf="searchStr !== undefined" class="btn" [routerLink]="['/search']"><< Back to Search Results</a>
      </div>
    </div>
    <div class="row" [@detailsState]="isActive">
        <div class="col-md-4 offset-md-1 img-container" style='display:block' *ngIf="config[0]?.base_url">
          <img *ngIf="url" src="{{ url }}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 text-left">
          <div class="row">
          <h2 class="text-left">{{item[0]?.title }}</h2>
        </div>
          <div class="row">
          <h4>Realease Date: {{item[0]?.release_date | date}}</h4>
          </div>
          <div class="row">

              <ul>
                <li *ngFor="let genre of item[0]?.genres, let isLast = last" class="listTitle">
                  {{genre.name}}{{isLast ? '' : ', '}}
                </li>
              </ul>
          </div>
          <p>
          {{item[0]?.overview}}
          </p>
          <span *ngIf="item[0]?.imdb_id">
              <a  href="http://www.imdb.com/title/{{item[0]?.imdb_id}}" target="_blank" class="btn marginTop30">IMDB Page</a>
          </span>
          <span *ngIf="item[0]?.homepage">
            <a  href="{{item[0]?.homepage}}" target="_blank" class="btn marginTop30">Homepage</a>
          </span>
        </div>
    </div>
  </div>
  <div class="bImage" #bgContainer>
  </div> -->
