/*

Form
- Base

*/

//Variables */

$settings-form-field-border-colour:         settings-colour('border-primary-colour') !default;
$settings-form-field-border-radius:         4px !default;
$settings-form-field-border-width:          2px !default;
$settings-form-field-outline-width:         2px !default;
$settings-form-field-font-colour:           #1d1f20 !default;
$settings-form-field-placeholder-colour:    #979797 !default;
$settings-form-field-font-size:             18px;
$field-error-colour:                        settings-colour('error') !default;
$field-focus-colour:                        settings-colour('focus') !default;
$field-valid-colour:                        settings-colour('valid-state') !default;
