/*
Colour Map
Colours to be used for app.
With a few symantic helpers for main app colours. #232323
*/

$settings-colours: (
    /* Main background colours */
    bg-colour-primary:                  #232323,
    bg-colour-secondary:                #E8F8FB,
    heading-bg:                         #000000,
    footer-bg:                          #04459B,

    /* Main border colours*/
    border-primary-colour:              #A6A8AA,
    border-secondary-colour:            #DCDCDC,

    /* text */
    text-primary:                       #cccccc,
    text-white:                         #FFFFFF,
    dashboard-text-link:                #04459B,

    error:                              #CA0109,
    valid-state:                        #C5DA46,
    active-state:                       #04459B,
    focus:                              #FDBE1F,
    text-focus:                         #A9A9A9,

    link:                               #04459B,
    link-hover:                         #04459B,

    /* form */
    typeahead-ul-bg-colour:             #F7F7F7,

    /*Category colours*/
    comics:                             #F5E653,
    music:                              #F969D0,
    games:                              #EB5055,
    movies:                             #68C39F
);

/*
Gradient colours
*/

$base-gradient-bg:                      linear-gradient(-135deg, #00B6BA, #0050A8);
$base-gradient-bg-top-down:             linear-gradient(0, #00B6BA, #0050A8);
$font-main-font:                        'Helvetica Neue', Helvetica, Arial, sans-serif;;
