
<div class="container details details--music">
    <div class="row details__btn--top">
        <a *ngIf="!isSearch" class="btn" [routerLink]="['/music']"><< Back to Music</a>
        <a *ngIf="isSearch" class="btn" [routerLink]="['/search', ]"><< Back to Search Results</a>
      </div>

      <div class="row row--stack-on-small">
        <div class="column">
          <img *ngIf="item?.image" (error)="onImageError()" src="{{item?.image}}" class="details__image" alt="{{item?.name}} image" #image>
        </div>

        <div class="column text-left details__info">
          <h1 class="details__title">{{item?.name}}</h1>
          <h4 *ngFor="let artist of item?.artists">
            <a href="{{artist?.spotifyUrl}}" class="details__sub-heading details__link" target="_blank">{{artist.name}}</a></h4>
          <h4 class="details__sub-heading">Realease Date: {{item?.release_date | date}}</h4>
            <h4 class="details__list-heading">TrackList</h4>

            <ol class="details__ol details__ol--music">
              <li *ngFor="let track of item?.tracks" class="details__ol--music-li">
                <span class="details__ol--music-li-alt">{{track}}</span>
              </li>
            </ol>

          <div *ngIf="item?.spotify_link">
              <a  href="{{item?.spotify_link}}" target="_blank" class="btn">Spotify Page</a>
          </div>

        </div>
        </div>
  </div>

  <div [style.background-image]="backGroundImage" class="back-ground-image"></div>

