$btn-font:      $font-main-font !default;
$btn-border:    1px solid settings-colour('text-white');

.btn {

  border: $btn-border;
  border-radius: 0;
  display: inline-block;
  font-family: $btn-font;
  font-size: 1.1rem;
  font-weight: 500;
  min-width: 145px;
  padding: 1rem;
  text-align: center;
  transition: none;
  vertical-align: middle;
  white-space: nowrap;


  @include is-medium {
    margin-left: 0;
  }

}
