$opacity-transition: opacity 1s;
$music-header-colour: #a34d8b;
$movies-header-colour: #4c836d;
$comics-header-colour: #a19840;
$games-header-colour: #9b3e41;

.category {

  &__header {
    font-size: 40px;
    margin-bottom: 8px;

    &-comics-colour {
      color: $comics-header-colour;
    }

    &-music-colour {
      color: $music-header-colour;
    }

    &-games-colour {
      color: $games-header-colour;
    }

    &-movies-colour {
      color: $movies-header-colour;
    }

  }

  &__items-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  &__item {
    height: auto;
    // position: relative;
    width: 50%;

    @include is-medium {
      width: 25%;
    }



  }

  &__image {
    align-self: center;
    height: auto;
    opacity: 0;
    transition: $opacity-transition;
    width: 100%;

  }

  &__footer {
    margin-bottom: 8px;
    margin-top: 8px;
    opacity: 0;
    padding-left: 10px;
    transition: $opacity-transition;
  }

  img.ng-lazyloaded {
    opacity: 1;
  }

  &__comics-colour {
    color: settings-colour('comics');
  }

  &__music-colour {
    color: settings-colour('music');
  }

  &__games-colour {
    color: settings-colour('games');
  }

  &__movies-colour {
    color: settings-colour('movies');
  }
}
