$opacity-transition: opacity 1s;

.category {

  &__header {
    font-size: 40px;
    margin-bottom: 8px;
    margin-left: 15px;
  }

  &__items-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  &__item {
    height: auto;
    // position: relative;
    width: 50%;

    @include is-medium {
      width: 25%;
    }

    &--comics {
      background-color: rgba(settings-colour('comics'), $alpha: .2);
    }

    &--music {
      background-color: rgba(settings-colour('music'), $alpha: .2);
    }

    &--games {
      background-color: rgba(settings-colour('games'), $alpha: .2);
    }

    &--movies {
      background-color: rgba(settings-colour('movies'), $alpha: .2);
    }

  }

  &__image {
    align-self: center;
    height: auto;
    // margin-bottom: 20px;
    opacity: 0;
    transition: $opacity-transition;
    width: 100%;

  }

  &__footer {
    // bottom: 0;
    // display: block;
    margin-bottom: 8px;
    margin-top: 8px;
    opacity: 0;
    // position: absolute;
    transition: $opacity-transition;
  }

  img.ng-lazyloaded {
    opacity: 1;
  }

  &-comics-colour {
    color: settings-colour('comics');
  }

  &-music-colour {
    color: settings-colour('music');
  }

  &-games-colour {
    color: settings-colour('games');
  }

  &-movies-colour {
    color: settings-colour('movies');
  }
}
