$comics-colour:              settings-colour('comics');
$music-colour:               settings-colour('music');
$games-colour:               settings-colour('games');
$movies-colour:              settings-colour('movies');
$text-primary-colour:        settings-colour('text-primary');
$white:                      settings-colour('text-white');

.details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px auto 0;
  max-width: 740px;

  &__title {
    padding-left: 0;
  }

  &--music,
  &--movies,
  &--comics,
  &--games {
    .details__link {
      text-decoration: underline;

      &:hover {
        color: $text-primary-colour;
      }
    }
  }

  &--movies {
    .details--alt-colour {
      color: $movies-colour;
    }

    .btn {
      &:hover {
        border-color: $movies-colour;
        color: $movies-colour;
      }
    }
  }

  &--comics {
    .details--alt-colour {
      color: $comics-colour;
    }

    .btn {
      &:hover {
        border-color: $comics-colour;
        color: $comics-colour;
      }
    }
  }

  &--games {
    .details--alt-colour {
      color: $games-colour;
    }

    .btn {
      &:hover {
        border-color: $games-colour;
        color: $games-colour;
      }
    }
  }

  &--music {
    .details--alt-colour {
      color: $music-colour;
    }

    &.details__link {
      color: $music-colour;
    }

    .btn {
      &:hover {
        border-color: $music-colour;
        color: $music-colour;
      }
    }

  }

  &__btn--movies-info {
    margin-bottom: 10px;
    margin-top: 10px;
  }


  &__btn--top {
    margin: 0 auto;
    max-width: 300px;
    padding-left: 28px;

    @include is-medium {
      margin: 0 auto;
      max-width: 740px;
      padding-left: 0;
    }

  }

  &__sub-heading--music {
    color: $music-colour;

    &:hover {
      color: $white;
    }
  }

  &__image {
    height: fit-content;
    margin: 15px auto;
    width: 270px;

    @include is-medium {
      margin-top: 15px;
      width: 100%;
    }
  }

  &__info {
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    width: 270px;

    @include is-medium {
      margin-left: 10px;
      width: 100%;
    }
  }

  &__ul,
  &__ol {
    list-style: none;
    margin: 0;
    padding: 10px;
    text-align: left;
  }

  &__ul--comics {
    padding-left: 0;
  }

  &__ol--music {
    list-style: decimal;
    padding-left: 18px;

    &-li {
      color: $music-colour;
    }

    &-li-alt {
      color: $text-primary-colour;
    }
  }

  &__list-heading {
    font-size: 17px;
  }

  &__copy {
    margin: 10px 0 0;

    &--top-0 {
      margin-top: 0;
    }

    &--last {
      margin-bottom: 15px;
    }
  }

  &--comic-colour {
    color: $comics-colour;
  }

  &--music-colour {
    color: $music-colour;
  }

  &--games-colour {
    color: $games-colour;
  }

  &--movies-colour {
    color: $movies-colour;
  }
}
