<div class="container details comics-details">
    <div class="row">
      <a class="btn details__button-comics-hover" [routerLink]="['/comics']"><< Back to Comics</a>
      <!-- <a class="btn" [routerLink]="['/search', ]"><< Back to Search Results</a> -->
    </div>

    <div class="row row--stack-on-small">
        <div class="column">
          <img *ngIf="item?.image" src="{{item?.image}}" class="details__image" alt="">
        </div>

        <div class="column text-left details__info">
          <h1 class="details__title">{{item?.title}}</h1>
          <h4 class="details__date">Published: {{item?.onsaleDate | date: 'dd/MM/yyyy'}}</h4>
          <h4 class='details__price'>
            <span *ngIf="item?.printPrice">Price: {{item?.printPrice | currency:'GBP' : 'symbol'}} (Aprox)</span>
            <span *ngIf="!item?.printPrice">No Price Available</span>
          </h4>
          <ul class="details__ul">
          <li *ngFor="let creator of item?.creators let i = index">
              <span class="details__ul--li-comic-colour">{{creator?.role}}:</span> {{creator?.name}}
          </li>
          </ul>


        <p>{{item?.description}}</p>
        <!-- <p *ngIf="item?.urls[1]">
        <a  href="{{item?.urls[1].url}}" target="_blank" class="btn marginTop30">Buy</a>
        </p> -->
        </div>
      </div>
  </div>
  <div class="back-ground-image" #bgContainer>
  </div>
