<p>comic-details works!</p>

<!--
<div class="container details comics-details">
    <app-loading *ngIf="loading"  [loadingTitle]='catTitle'></app-loading>
      <div class="row">
  <div *ngIf="!loading" class="col-md-12">
      <a *ngIf="searchStr === undefined" class="btn" [routerLink]="['/comics']"><< Back to Comics</a>
      <a *ngIf="searchStr !== undefined" class="btn" [routerLink]="['/search', searchStr]"><< Back to Search Results</a>
    </div>
  </div>
        <div class="row" [@detailsState]="isActive">
          <div class="col-md-3 offset-md-1">
            <div class="img-container">
              <img *ngIf="url"  src="{{ url }}" class="img-fluid" alt="">
            </div>

            <h4 [@titleState]="playTitle" *ngIf="item?.prices[0].price" class='price'>Price: {{item?.prices[0].price | currency:'GBP' : 'symbol'}} (Aprox)</h4>
            <h4 [@titleState]="playTitle" *ngIf="!item?.prices[0].price" class='price'>No Price Available</h4>
        </div>


          <div class="col-md-7 text-left">
            <h2 class="text-left">{{item?.title }}</h2>


                <h4>Published: {{item?.dates[0].date}}</h4>
                  <ul>

                  <li *ngFor="let creator of item?.creators.items let i = index" class='capitalize listText'>
                      <span class="listTitle">{{creator.role}}:</span> {{creator.name}}
                  </li>
                  </ul>


          <p>{{item?.description}}</p>
          <p *ngIf="item?.urls[1]">
          <a  href="{{item?.urls[1].url}}" target="_blank" class="btn marginTop30">Buy</a>
          </p>
          </div>
      </div>
  </div>
  <div class="bImage" #bgContainer>
  </div> -->
