<div class="details details--comics">
    <div class="row details__btn--top">
      <a *ngIf="!isSearch" class="btn" [routerLink]="['/comics']"><< Back to Comics</a>
      <a *ngIf="isSearch" class="btn" [routerLink]="['/search', ]"><< Back to Search Results</a>
    </div>

    <div class="row row--stack-on-small">
        <div class="column">
          <img *ngIf="item?.image" (error)="onImageError()" src="{{item?.image}}" class="details__image" alt="{{item?.title}} - Image" #image>
        </div>

        <div class="column text-left details__info">
          <h1 class="details__title">{{item?.title}}</h1>
          <h4 *ngIf="item?.onsaleDate" class="details__sub-heading"><span class="details--alt-colour">Published:</span> {{item?.onsaleDate | date: 'dd/MM/yyyy'}}</h4>
          <h4 *ngIf="item?.printPrice" class='details__sub-heading'>
            <span *ngIf="item?.printPrice"><span class="details--alt-colour">Price:</span> {{item?.printPrice | currency:'GBP' : 'symbol'}} (Aprox)</span>
            <span class="details--alt-colour" *ngIf="!item?.printPrice">No Price Available</span>
          </h4>
          <h4 *ngIf="item?.pageCount" class='details__sub-heading'><span class="details--alt-colour">Page Count:</span> {{item?.pageCount}}</h4>
          <ul class="details__ul details__ul--comics">
          <li *ngFor="let creator of item?.creators let i = index">
              <span class="details--alt-colour">{{creator?.role}}:</span> {{creator?.name}}
          </li>
          </ul>


        <p *ngIf="item?.description">{{item?.description}}</p>
      <div *ngIf="item?.clickThrough">
        <a href="{{item?.clickThrough}}" target="_blank" class="btn">Go to Mavel Website</a>
      </div>
        </div>
      </div>
  </div>
  <div [style.background-image]="backGroundImage" class="back-ground-image">
  </div>
